<h4>{{name}}</h4>

{{link-to 'Edit' 'speakers.edit' model }}
&nbsp;

<button {{action 'delete'}}>Delete</button>

<h5>Presentations</h5>

<p>{{#link-to 'presentations.create'}}Create{{/link-to}}</p>

<ul>
	{{#each presentations}}
	<li>{{title}}</li>
	{{/each}}
</ul>